In [41]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")

In [42]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [43]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [44]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [45]:
from sklearn.model_selection import GridSearchCV

In [46]:
from sklearn.svm import SVR
param_grid={'kernel':['rbf','linear'],'C':[0.01,0.1],'gamma':['auto','scale']}
grid=GridSearchCV(SVR(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='r2')

In [47]:


regressor=grid.fit(independent,dependent)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:    5.1s finished
/Users/Max/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [48]:
re=grid.cv_results_
print("The R_score value for best params {}",format(grid.best_params_))

The R_score value for best params {} {'C': 0.01, 'gamma': 'auto', 'kernel': 'linear'}

In [49]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.173403,0.024187,0.017558,0.004400,0.01,auto,rbf,"{'C': 0.01, 'gamma': 'auto', 'kernel': 'rbf'}",-0.115326,-0.113563,-0.081605,-0.106064,-0.107195,-0.104751,0.012107,6
1,0.099011,0.035378,0.008404,0.000926,0.01,auto,linear,"{'C': 0.01, 'gamma': 'auto', 'kernel': 'linear'}",-0.109285,-0.090622,-0.073438,-0.097328,-0.124690,-0.099073,0.017275,1
2,0.104423,0.004222,0.015610,0.001365,0.01,scale,rbf,"{'C': 0.01, 'gamma': 'scale', 'kernel': 'rbf'}",-0.115328,-0.113522,-0.081590,-0.106046,-0.107206,-0.104738,0.012107,5
3,0.083015,0.008175,0.010768,0.002524,0.01,scale,linear,"{'C': 0.01, 'gamma': 'scale', 'kernel': 'linear'}",-0.109285,-0.090622,-0.073438,-0.097328,-0.124690,-0.099073,0.017275,1
4,0.150362,0.012038,0.015683,0.001363,0.1,auto,rbf,"{'C': 0.1, 'gamma': 'auto', 'kernel': 'rbf'}",-0.115312,-0.113526,-0.081580,-0.106043,-0.107188,-0.104730,0.012108,4
5,0.071571,0.002281,0.008786,0.000965,0.1,auto,linear,"{'C': 0.1, 'gamma': 'auto', 'kernel': 'linear'}",-0.156586,-0.102518,-0.117799,-0.140213,-0.216269,-0.146677,0.039413,7
6,0.127251,0.012285,0.022432,0.008370,0.1,scale,rbf,"{'C': 0.1, 'gamma': 'scale', 'kernel': 'rbf'}",-0.115326,-0.113152,-0.081428,-0.105862,-0.107303,-0.104614,0.012116,3
7,0.066293,0.013900,0.007206,0.002268,0.1,scale,linear,"{'C': 0.1, 'gamma': 'scale', 'kernel': 'linear'}",-0.156586,-0.102518,-0.117799,-0.140213,-0.216269,-0.146677,0.039413,7

In [50]:
y_pred=regressor.predict(independent)

In [54]:
from sklearn.metrics import r2_score
r2_score=r2_score(dependent,y_pred)
r2_score

-0.10117764742972546

In [52]:
Prediction=grid.predict([[19,27.9,0,0,1]])
Prediction

array([6582.15076649])

In [55]:
import pickle
filename="Finalised_model_SVM_grid.sav"
pickle.dump(regressor,open(filename,'wb'))